html, body {
    padding: 0;
    margin:0 auto;
}


#map{
    width: 50%;
    height: 80vh;
    margin: 0 auto;
}

h2 {
  font-family: 'Roboto';font-size: 22px;
  text-align:center;
}

p {font-family: 'Roboto';font-size: 22px; }
